/*
	All the styling below will override BOOTSTRAP styling.
*/

body, html {
	height: 100%;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif
}

.navbar-default{
	padding:14px;
	background:white;
	margin-bottom:0px;
}
.navbar-default .navbar-brand {
    color: #ffffff;
    padding-left: 56px;
}
.navbar-right{
	margin-right:41px;
}

.hero-image{
	background-image: url("../img/hero-photo.png");
	height: 100%;	
	color:white;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}


.hero-image-songs{
	background-image: url("../img/about-photo.png");
	height: 50%;	
	color:white;
	background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	position: relative;
}


.btn-lg{
	font-size:20px;
	width:400px !important;
	margin-top:20px;
	display: inline-block;
}

.navbar-default .navbar-nav > li> a {
    border-radius:40px;
    background-color : #F2005A;
    color : #ffffff;
    text-transform: none;
    border : 2px solid #fff;
}

a.btn-light {
    border-radius: 40px;
    background-color :#F2005A;
	color : #fff;
    text-transform: none;
    font-size: 20px;
    padding: 15px 50px;
    font-weight: bold;
}



.price-item .inner-container {
    background-color : rgba(255,255,255,0.8);
    height : 100%;
    width : 100%;
    padding : 120px 0;
    font-size : 22px;
    opacity:0;
    transition-property:opacity;
    transition-duration:0.5s;
}

.basic-free {
	padding: 100px;

}

h1 {
	font-family: Arial #0A8AE1;
	
}

.hero-text-paragraph {
    font-size: 22px;
    color: #fff;
    margin: 15px 0px;

}

.hero-text-container {
    width: 450px;

}

.hero-text-header {
    font-size: 52px;
    font-weight: bold;
    color: #fff;

}

.hero-text {
    padding-left: 209px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}